<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:messages id="msj"/>

        <h:form>
            <p:fieldset legend="Nueva">
                <p:commandButton value="Nuevo" oncomplete="PF('java').show();"/>
            </p:fieldset>
        </h:form> 
        <p:dialog widgetVar="java" modal="true" resizable="false" header="Cambios de Fecha">
            <h:form id="datos">
                <p:panelGrid columns="1">
                    <p:outputLabel value="Fase">
                        <p:selectOneMenu value="#{cambiosFecha.fases.id}">
                            <f:selectItems value="#{cambiosFecha.listaFases}" var="fa"
                                           itemLabel="#{fa.fase}" itemValue="#{fa.id}"/>
                        </p:selectOneMenu>
                    </p:outputLabel>
                     <p:outputLabel value="Tarea">
                         <p:selectOneMenu value="#{cambiosFecha.tarea.id}">
                             <f:selectItems value="#{cambiosFecha.listaTarea}" var="ta"
                                            itemLabel="#{ta.nombre}" itemValue="#{ta.id}"/>
                        </p:selectOneMenu>
                    </p:outputLabel>
                    <p:outputLabel value="Fecha:">
                        <p:calendar pattern="yyyy-MM-dd" value="#{cambiosFecha.detalleFecha.fechaCam}"/>
                    </p:outputLabel>
                    <p:commandButton value="Crear" actionListener="#{cambiosFecha.crearDetalleFecha()}"
                                     update="datos :tabla :msj" oncomplete="PF('java').show();"
                                     rendered="#{cambiosFecha.detalleFecha.id != null}"/>
                    <p:commandButton value="Crear" actionListener="#{cambiosFecha.editarDetalleFecha()}"
                                     update="datos :tabla :msj" oncomplete="PF('java').show();"
                                     rendered="#{cambiosFecha.detalleFecha.id== null}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <h:form id="tabla">
            <p:fieldset legend="Datos">
                <p:dataTable value="#{cambiosFecha.listaDetalle}" var="ca">
                    <p:column headerText="Fase">
                        <p:outputLabel value="#{ca.fases.fase}"/>
                    </p:column>
                    <p:column headerText="Tarea">
                        <p:outputLabel value="#{ca.tarea.nombre}"/>
                    </p:column>
                    <p:column headerText="Acciones">
                        <p:commandButton value="Editar" actionListener="#{cambiosFecha.cargarDetalle(ca)}"
                                         update=":datos" oncomplete="PF('java').show();"/>
                        <p:commandButton value="Eliminar" actionListener="#{cambiosFecha.eliminarDetalleFecha(ca)}"
                                         update=":tabla :msj"/>
                    </p:column>
                </p:dataTable>
            </p:fieldset>
        </h:form>
    </h:body>
</html>

