<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:messages id="msj"/>

        <h:form>
            <p:fieldset legend="Nueva">
                <p:commandButton value="Nuevo" oncomplete="PF('java').show();"/>
            </p:fieldset>
        </h:form> 
        <p:dialog widgetVar="java" modal="true" resizable="false" header="Fechas Especiales">
            <h:form id="datos">
                <p:panelGrid columns="1">
                    <p:outputLabel value="Motivo:">
                        <p:inputText value="#{fechas.fechasEspeciales.motivo}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Fecha:">
                        <p:calendar pattern="yyyy-MM-dd" value="#{fechas.fechasEspeciales.fecha}"
                    </p:outputLabel>
                    <p:commandButton value="Crear" actionListener="#{fechas.crearFecha()}"
                                     update="datos :tabla :msj" oncomplete="PF('java').show();"
                                     rendered="#{fechas.fechasEspeciales.id != null}"/>
                    <p:commandButton value="Crear" actionListener="#{fechas.editarFecha()}"
                                     update="datos :tabla :msj" oncomplete="PF('java').show();"
                                     rendered="#{fechas.fechasEspeciales.id== null}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <h:form id="tabla">
            <p:fieldset legend="Datos">
                <p:dataTable value="#{fechas.listaFechas}" var="fe">
                    <p:column headerText="Motivo">
                        <p:outputLabel value="#{fe.motivo}"/>
                    </p:column>
                    <p:column headerText="Fecha">
                        <p:outputLabel value="#{fe.fecha}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </p:outputLabel>
                    </p:column>
                    <p:column headerText="Acciones">
                        <p:commandButton value="Editar" actionListener="#{fechas.cargarFecha(fe)}"
                                         update=":datos" oncomplete="PF('java').show();"/>
                        <p:commandButton value="Eliminar" actionListener="#{fechas.eliminarFecha(fe)}"
                                         update=":tabla :msj"/>
                    </p:column>
                </p:dataTable>
            </p:fieldset>
        </h:form>
    </h:body>
</html>

