<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:messages id="msj"/>

        <h:form>
            <p:fieldset legend="Nueva">
                <p:commandButton value="Nuevo" oncomplete="PF('java').show();"/>
            </p:fieldset>
        </h:form> 
        <p:dialog widgetVar="java" modal="true" resizable="false" header="Tipo de Usuarios">
            <h:form id="datos">
                <p:panelGrid columns="1">
                    <p:outputLabel value="Tipo de Usuario:">
                        <p:inputText value="#{registroPersonas.tipoUsuarios.tipo}"/>
                    </p:outputLabel>
                    <p:commandButton value="Crear" actionListener="#{registroPersonas.crearTipoUsuario()}"
                                     update="datos :tabla :msj" oncomplete="PF('java').show();"
                                     rendered="#{registroPersonas.tipoUsuarios.id != null}"/>
                    <p:commandButton value="Crear" actionListener="#{registroPersonas.editarTipoUsuario()}"
                                     update="datos :tabla :msj" oncomplete="PF('java').show();"
                                     rendered="#{registroPersonas.tipoUsuarios.id == null}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <h:form id="tabla">
            <p:fieldset legend="Datos">
                <p:dataTable value="#{registroPersonas.listaTS}" var="ti">
                    <p:column headerText="Id">
                        <p:outputLabel value="#{ti.id}"/>
                    </p:column>
                    <p:column headerText="Tipo de Usuario">
                        <p:outputLabel value="#{ti.tipo}"/>
                    </p:column>
                    <p:column headerText="Acciones">
                        <p:commandButton value="Editar" actionListener="#{registroPersonas.cargarTS(ti)}"
                                         update=":datos" oncomplete="PF('java').show();"/>
                        <p:commandButton value="Eliminar" actionListener="#{registroPersonas.eliminarTipoUsuario(ti)}"
                                         update=":tabla :msj"/>
                    </p:column>
                </p:dataTable>
            </p:fieldset>
        </h:form>
    </h:body>
</html>

